[data-sidebar-collapsed="true"] {
  --sidebar-width: 5rem;
}

@media (max-width: 767px) {
  :root {
    --sidebar-width: 16rem;
  }

  [data-sidebar-collapsed="true"] {
    --sidebar-width: 0rem;
  }
}

.dashboard-sidebar {
  width: var(--sidebar-width);
  transition: var(--sidebar-transition);
  will-change: width;
}

.dashboard-main {
  width: calc(100% - var(--sidebar-width));
  transition: var(--sidebar-transition);
  will-change: width;
}
